<div class='container'>
  <h1>Editing page for supplements</h1>
  <%= simple_form_for @supplement do |f| %>
    <%= f.input :name, placeholder: 'name of the supplement' %>
    <%= f.input :price, placeholder: "in ￡'s per bottle" %>
    <%= f.input :description, placeholder: 'things to know' %>
    <%= f.input :quantity, placeholder: 'amount of pills left' %>
    <%= f.input :frequency, placeholder: 'things to know' %>
    <%= f.input :unit_measure %>
    <%= f.input :category, placeholder: 'vitamins, amino acids, minerals etc' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Edit Booking", class: "btn btn-primary", :style => "margin-bottom: 25px; margin-top: 10px; font-size: 20px;" %>
  <% end %>
</div>