<%= link_to supplement_path(@supplement) do %>
  <i class="arrow fa-solid fa-circle-left"></i>
<% end %>

<div class='container form'>
  <h1>Enter changes for your supplement here:</h1>
  <%= simple_form_for @supplement do |f| %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :remaining %>
    <div class='form-div'>
      <%= f.input :quantity %>
      <%= f.input :frequency, as: :select, collection: ['Daily', 'Weekly', 'Monthly'], prompt: 'please select' %>
    </div>
    <%= f.input :category, as: :select, collection: ['vitamins', 'amino acids', 'minerals'] %>
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Edit Supplement", class: "btn btn-primary", :style => "margin-bottom: 25px; margin-top: 10px; font-size: 20px;" %>
  <% end %>
</div>
