<div class='container'>
  <h1>All the Supplements</h1>
  <% @supplements.each do |supplement| %>
    <%= link_to supplement_path(supplement) do %>
      <% supplement.images.each do |photo| %>
        <%= image_tag photo, width: 200 %>
      <% end %>
      <div>
        <%= supplement.name %>
      </div>
      <div>
        <% supplement.reviews.each do |review| %>
          <%= review.content %>
          <% review.rating.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <%= link_to 'Edit', edit_supplement_review_path(supplement.id, review.id), class: "btn btn-primary" %>
          <%= link_to 'Delete', review_path(review), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>