<div class="container">
  <h1>This is a form for a new Supplement</h1>

  <%= simple_form_for(@supplement) do |f| %>
    <%= f.input :name, placeholder: 'name of the supplement' %>
    <%= f.input :price, placeholder: "in ￡'s per bottle" %>
    <%= f.input :description, placeholder: 'things to know' %>
    <%= f.input :remaining %>
    <div class='form-div'>
      <%= f.input :quantity %>
      <%= f.input :frequency, as: :select, collection: ['daily', 'weekly', 'monthly'], prompt: 'please select' %>
    </div>
    <%= f.input :category, placeholder: 'vitamins, amino acids, minerals etc' %>
    <%= f.input :images, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Add supplement", :class => "btn btn-primary", :style => "margin-bottom: 25px; margin-top: 10px; font-size: 20px;" %>
  <% end %>
</div>
