<div class="container">
  <%= render "shared/carousel" %>
  <div>
    <h3><%= @supplement.name %></h3> <br>
    <p><%= @supplement.description %></p> <br>
    <h4><%= @supplement.frequency %></h4><label for="frequency">times:</label>
      <select id="frequency" name="frequency">
        <option value="daily">daily</option>
        <option value="weekly">weekly</option>
      </select>
      <select id="instructions" name="instructions">
        <option value="with-meal">with a meal</option>
        <option value="without-meal">before or after a meal</option>
        <option value="with-water">with a glas of water</option>
      </select><br>
    <p><strong><%= @supplement.quantity %></strong> <%= @supplement.quantity == 1 ? 'pill left' : 'pills left' %></p>
  </div>
  <%= link_to 'Edit', edit_supplement_path(@supplement), class: "btn btn-primary" %>
  <%= link_to 'Delete', supplement_path(@supplement), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>

<div class='container reviews'>
  <h2>Reviews</h2>
  <div>
    <%= simple_form_for [@supplement, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating %>
      <%= f.submit "Submit review", class: "btn btn-primary", :style => "margin-bottom: 25px; margin-top: 10px; font-size: 20px;" %>
    <% end %>
  </div>
</div>
