<div class='container'>
  <% @supplement.photos.each do |photo| %>
    <%= image_tag photo, width: 200 %>
  <% end %>
  <div>
    <%= @supplement.name %>
    <%= @supplement.description %>
    <%= @supplement.frequency %>
    <p><%= @supplement.quantity %> <%= @supplement.quantity == 1 ? 'pill left' : 'pills left' %></p>
  </div>
  <%= link_to 'Edit', edit_supplement_path(@supplement), class: "btn btn-primary" %>
  <%= link_to 'Delete', supplement_path(@supplement), class: "btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
