<div class='container'>
  <% @supplement.photos.each do |photo| %>
    <%= image_tag photo, width: 200 %>
  <% end %>
  <div>
    <%= @supplement.name %>
    <%= @supplement.description %>
    <p>every <%= @supplement.frequency %></p>
    <p><%= @supplement.quantity %> <%= @supplement.quantity == 1 ? 'pill left' : 'pills left' %></p>
  </div>
</div>
