<%= render "shared/banner" %>

<section class="section text-center features-icons">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon icons-big">
            <i class="fa-solid fa-pills m-auto text-primary text-h1"></i>
          </div>
          <h3>Step 1</h3>
          <p class="lead mb-0">Add your first supplement</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon icons-big">
            <i class="fa-solid fa-list m-auto text-primary text-h1"></i>
          </div>
          <h3>Step 2</h3>
          <p class="lead mb-0">Add relevant information and a reminder</p>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
          <div class="d-flex features-icons-icon icons-big">
            <i class="fa-regular fa-calendar-minus m-auto text-primary text-h1"></i>
          </div>
          <h3>Step 3</h3>
          <p class="lead mb-0">Get a notification when it's time to take your supplement</p>
        </div>
      </div>
    </div>
  </div>

  <%= render "shared/showcase" %>

  <!-- <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div> -->


  <div id='map' style='width: 100%; height: 300px;' data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <!--<script>
  mapboxgl.accessToken = "<%= ENV['MAPBOX_API_KEY'] %>";
  const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: 'mapbox://styles/mapbox/streets-v12', // style URL
      center: [-74.5, 40], // starting position [lng, lat]
      zoom: 9, // starting zoom
  });
  </script> -->
</section>
